*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a2c4f8;
}

.container {
  background-color: #f9bebe;
  padding: 30px 40px;
  border-radius: 10px;
  width: 400px;
}
h1 {
  text-align: center;
  color: #222;
  margin-bottom: 20px;
  font-size: 30px;
}


form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 6px;
  font-size: 14px;
}

input[type="radio"] {
  margin-left: 10px;
  margin-right: 5px;
}

.gender {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

button {
  background-color: #fff;
  color:black;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}