*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
    color: rgb(16, 16, 16);
}

.outer-div {
    border: 2px solid rgb(14, 14, 14);
    padding: 20px;
    height: 300px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-div {
    height: 200px;
    width: 500px;
    border: 2px solid black;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    border: 2px solid rgb(232, 145, 145);
    font-size: 40px;
    margin: 0;
}
