*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 100px;
}

main {
    width: 80vw;
    padding: 5%;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(211, 245, 245);
}

h1 {
    text-align: center;
    text-decoration: underline;
   
}

.time {
    text-align: center;
    font-weight: 800;
    text-decoration: underline wavy;
}

.question {
    margin-top: 20px;
}

.options {
    margin: 30px 0;
}

ul {
    list-style: none;
}

li {
    border: 1px solid black;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 10px 35px;
  border-radius: 8px;
  border: 1px solid black;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  background-color: rgb(43, 40, 40);
}