* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#card {
  border: 6px solid #080808;
  background-color: #b8e9e6;
  width:500px;
  
}

h1 {
  text-align: center;
}

img {
  margin: 0 auto;
}

h2 {
    
  text-decoration: underline;
}

div {
  text-align: center;
}

button {
  margin: 0 0 20px 0;
  background-color: rgb(224, 233, 241);
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 30px;
}

#position {
  font-weight: bold;

}
