body {
    font-family: Arial, sans-serif;
    background-color: #adcff5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.quiz-container {
    background-color: rgb(238, 218, 218);
    border-radius: 10px;
    width: 440px;
    padding: 20px;
    margin: 0px;
    text-align: center;
    margin-left: 200px;
}

.quiz-box {
    background-color: rgb(253, 133, 163);
    border-radius: 8px;
    padding: 15px;
    margin-left: 20px;

}

.options button {
    flex-direction: column;
    background-color: #044e73;
    color: rgb(230, 214, 214);
    border: none;
    border-radius: 10px;
    padding: 20px 10%;
    font-size: 16px;
    cursor: pointer;
    width: 250px;
    margin: 10px 0;

}

.next {
    margin-top: 20px;
    background-color: #021e09;
    color: white;
    border: 10;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

}
.options:hover {
    background: #93bdee;
    color: #adcff5;
}

.next:hover {
    background-color: #adcff5;
}
